In [181]:
# pip install powerbiclient

In [182]:
import numpy as np
import pandas as pd

In [183]:
df_2021=pd.read_csv('School_Learning_Modalities__2020-2021.csv')
df_2021['year']=2021

In [184]:
df_2021.reset_index(inplace=True, drop=True)

In [185]:
df_2021.head()

,district_nces_id,district_name,week,learning_modality,operational_schools,student_count,city,state,zip_code,year
0,100005,Albertville City,09/06/2020 12:00:00 AM,Hybrid,6,5824.0,Albertville,AL,35950,2021
1,100006,Marshall County,09/06/2020 12:00:00 AM,Remote,15,5764.0,Guntersville,AL,35976,2021
2,100007,Hoover City,09/06/2020 12:00:00 AM,Hybrid,18,14061.0,Hoover,AL,35243,2021
3,100008,Madison City,09/06/2020 12:00:00 AM,Remote,11,11695.0,Madison,AL,35758,2021
4,100011,Leeds City,09/06/2020 12:00:00 AM,In Person,4,2076.0,Leeds,AL,35094,2021

In [186]:
df_2022=pd.read_csv('School_Learning_Modalities__2021-2022.csv')

In [187]:
df_2022.head()

,District NCES ID,District Name,Week,Learning Modality,Operational Schools,Student Count,City,State,ZIP Code
0,100005,Albertville City,12/25/2022 12:00:00 AM,In Person,6,5824.0,Albertville,AL,35950
1,100006,Marshall County,12/25/2022 12:00:00 AM,In Person,15,5764.0,Guntersville,AL,35976
2,100007,Hoover City,12/25/2022 12:00:00 AM,In Person,18,14061.0,Hoover,AL,35243
3,100008,Madison City,12/25/2022 12:00:00 AM,In Person,11,11695.0,Madison,AL,35758
4,100011,Leeds City,12/25/2022 12:00:00 AM,In Person,4,2076.0,Leeds,AL,35094

In [188]:
# rename columns
cols ={'District NCES ID':'district_nces_id','District Name':'district_name','Learning Modality':'learning_modality',
      'Operational Schools':'operational_schools',
       'Student Count':'student_count','City':'city','State':'state','ZIP Code':'zip_code','Week':'week'}

In [189]:
df_2022=df_2022.rename(columns=cols)
df_2022['year']=2022

In [190]:
df_2022.reset_index(inplace=True, drop=True)

In [191]:
df_2022.head()

,district_nces_id,district_name,week,learning_modality,operational_schools,student_count,city,state,zip_code,year
0,100005,Albertville City,12/25/2022 12:00:00 AM,In Person,6,5824.0,Albertville,AL,35950,2022
1,100006,Marshall County,12/25/2022 12:00:00 AM,In Person,15,5764.0,Guntersville,AL,35976,2022
2,100007,Hoover City,12/25/2022 12:00:00 AM,In Person,18,14061.0,Hoover,AL,35243,2022
3,100008,Madison City,12/25/2022 12:00:00 AM,In Person,11,11695.0,Madison,AL,35758,2022
4,100011,Leeds City,12/25/2022 12:00:00 AM,In Person,4,2076.0,Leeds,AL,35094,2022

In [192]:
print(df_2022.shape)
print(df_2021.shape)

(994788, 10)
(429865, 10)

In [196]:
df=df_2022

In [197]:
df.head()

,district_nces_id,district_name,week,learning_modality,operational_schools,student_count,city,state,zip_code,year
0,100005,Albertville City,12/25/2022 12:00:00 AM,In Person,6,5824.0,Albertville,AL,35950,2022
1,100006,Marshall County,12/25/2022 12:00:00 AM,In Person,15,5764.0,Guntersville,AL,35976,2022
2,100007,Hoover City,12/25/2022 12:00:00 AM,In Person,18,14061.0,Hoover,AL,35243,2022
3,100008,Madison City,12/25/2022 12:00:00 AM,In Person,11,11695.0,Madison,AL,35758,2022
4,100011,Leeds City,12/25/2022 12:00:00 AM,In Person,4,2076.0,Leeds,AL,35094,2022

In [198]:
df.to_csv("School_Learning_Modalities.csv")

In [176]:
from powerbiclient import QuickVisualize, get_dataset_config,Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication

In [177]:
device_auth=DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code GZVYV9GBZ to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

In [178]:
PBI_visualize=QuickVisualize(get_dataset_config(df),auth=device_auth)

In [179]:
PBI_visualize

QuickVisualize()